@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    /* background: rgba(0, 169, 225, 0.6); */
    background-color: white;
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

.doctors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-left: -100px;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 100%;
    height: 420px;
}

.docimg{
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    background-color: white;
    animation: zoomout 1s ease-in-out;
}

.docimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.lining{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: black;
    height: 2px;
    width: 90%;
}

h2{
    margin-top: 15px;
}

.docinfo{
    animation: fadebot 1.5s ease-in-out;
}

.docinfo button{
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(207, 182, 143);
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

.docinfo button:hover{
    background-color: rgb(160, 134, 94);
}

h1{
    animation: fadetop 1.5s ease-in-out;
}

@keyframes zoomout{
    from{
        transform: scale(0.6);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadebot{
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadetop{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}