@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to top, rgba(0, 90, 136, 0.8)50%, rgba(0, 90, 135, 0.8)50%); */
    background-size: cover;
    background-position: center;
    background: rgb(152, 152, 152);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    font-family: 'rubik maps',system-ui;
    animation: falldown 1s ease-in-out;
}

.weight{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weightinfo{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 60%;
    max-height: 100%;
    border-radius: 40px;
    background-color: black;
    animation: zoomout 0.4s ease;
}

.info{
    padding: 20px;
    animation: fadein 4s ease;
}

.info b{
    color: rgb(102, 102, 102);
    font-weight: 700;
}

.weightinfo h2{
    color: rgb(0, 169, 225);
}

.weightinfo p{
    color: white;
}

#product{
    width: 100%;
    min-height: 670px;
    max-height: 100%;
}

.item1{
    position: relative;
    height: 320px;
    width: 280px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.products{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.item1 img{
    height: 90%;
    width: 80%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.4s ease;
}

.item1 .productinfo{
    position: absolute;
    top: 80%;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1)50%, rgba(0, 0, 0, 1)50%);
    transform: translateY(-250px);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: -1;
    color: white;
}

.item1:hover img{
    scale: 1.1;
}

.item1:hover .productinfo{
    transform: translateY(0);
    opacity: 1;
}

.item1:hover .productbutton{
    opacity: 1;
    transform: translateY(0);
}

.item1{
    margin-bottom: 40px;
}

.item1{
    text-align: center;
    letter-spacing: 1px;
}

.item1 h2{
    margin-top: 65px;
    color: rgb(0, 169, 225);
}

.item1 b{
    color: rgb(104, 104, 104);
}

.productbutton{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    transform: translateY(50px);
}

.productbutton button{
    padding: 9px 17px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: rgb(0, 169, 225);
    border-radius: 6px;
    transition: all 0.4s ease;
}

.productbutton button:hover{
    background-color: rgb(0, 97, 129);
}

@keyframes zoomout{
    from{
        scale: 1.1;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

@keyframes falldown{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0) ;
        opacity: 1;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1360px){
    .item1{
        margin-top: 150px;
    }
}